@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6f6;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.TabNavigationContainer {
  position: fixed;
  left: 50%;
  bottom: 18px;
  width: 95%;
  z-index: 1000;
  transform: translate(-50%, 0);
  height: 60px;
  display: flex;
  padding-left: 28px;
  padding-right: 28px;
  justify-content: space-around;
  align-items: center;

  background-color: #f8fafc;
  border-radius: 38px;
  box-shadow: 4px -4px 24px 8px rgba(0, 0, 0, 0.3);
}

.TabNavigationLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;

  color: #030303;
  transition: color 0.4s ease-in;
}

.TabNavigationLink:hover {
  color: #0284c7;
  font-weight: 700;
}

.active {
  color: #0284c7;
}

.TabNavigationLink .icon {
  font-size: 18px;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .TabNavigationContainer {
    justify-content: space-between;
  }
}
