@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@200;300;400;500&display=swap");
h2 {
  font-family: "PT Serif", serif;
}

body {
  font-family: "PT Serif", serif;
}

p {
  font-weight: 500;
}
